*.pyc
*.pyo
*~
db.dat
*.swp
pip-*.gz
vtenv
virtualenv.py
eggs
.project
.pydevproject
sample_project/log/*
sample_project/manage.py
sample_project/deploy/deploy.wsgi
sample_project/local_settings.py
sample_project/media/statics
fab
.project
.pydevproject
